In [ ]:
len((2022, 1, 19, 1, 3, 0, 0.0, 0, 19, 255, 66, 85, 84, 78, 4))

In [ ]:
(2022, 1, 19, 1, 3, 0, 0.0, 0, 19, 255, 66, 85, 84, 78, 4)[14]

In [ ]:
x=[2022, 1, 19, 1, 3, 0, 0.0, 0, 19, 255, 66, 85, 84, 78, 4]

In [ ]:
x.pop(2)
x

In [ ]:
y=[chr(i) for i in range(ord('a'),ord('z')+1)]
y=y+["1","2",None,"3"]
y

In [ ]:
"".join(i for i in y[:y.index(None)])

In [13]:
import pandas as pd
import random
rs=lambda :random.randrange(100)

In [14]:
x=pd.DataFrame({1:{"RL":50,"RR":40,"FL":30,"FR":20},2:{"RL":20,"RR":42,"FL":12,"FR":90,"FRFR":25}})
y=pd.DataFrame({1:{"RL":rs(),"RR":rs(),"FL":rs(),"FR":rs()},2:{"RL":rs(),"RR":rs(),"FL":rs(),"FR":rs(),"FRFR":rs()}})
x

         1   2
RL    50.0  20
RR    40.0  42
FL    30.0  12
FR    20.0  90
FRFR   NaN  25

In [16]:
y

         1   2
RL    95.0  67
RR    92.0  96
FL    56.0  30
FR    61.0  35
FRFR   NaN  56

In [15]:
x+y

          1    2
RL    145.0   87
RR    132.0  138
FL     86.0   42
FR     81.0  125
FRFR    NaN   81

In [38]:
z=x.sum(0)
x.sum(0)

1    140.0
2    189.0
dtype: float64

In [41]:
x.max(0),x

(1    50.0
 2    90.0
 dtype: float64,
          1   2
 RL    50.0  20
 RR    40.0  42
 FL    30.0  12
 FR    20.0  90
 FRFR   NaN  25)

In [60]:
a={0: '5', 1: '5', 2: '5', 3: '5', 4: '5', 5: '5', 6: '5', 7: '5', 8: '5', 9: '5', 10: '5', 11: '5', 12: '5', 13: '5', 14: '5', 15: '5', 16: '5', 17: '5', 18: '5', 19: '5', 20: '5', 21: '5'}
for i in a:
    a[i]=int(a[i])

In [64]:
pd.Series(a)/x.max(0)

0          NaN
1     0.100000
2     0.055556
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
dtype: float64

pd.DataFrame({0: {'total': '5'}, 1: {'total': '5'}, 2: {'total': '5'}, 3: {'total': '5'}, 4: {'total': '5'}, 5: {'total': '5'}, 6: {'total': '5'}, 7: {'total': '5'}, 8: {'total': '5'}, 9: {'total': '5'}, 10: {'total': '5'}, 11: {'total': '5'}, 12: {'total': '5'}, 13: {'total': '5'}, 14: {'total': '5'}, 15: {'total': '5'}, 16: {'total': '5'}, 17: {'total': '5'}, 18: {'total': '5'}, 19: {'total': '5'}, 20: {'total': '5'}, 21: {'total': '5'}})+x

v=pd.DataFrame({0: {'RL': 0.7780995965003967, 'RR': 0.8171265125274658, 'FL': 0.4536488652229309, 'FR': 0.5077549815177917}, 1: {'RL': 1.5469876527786255, 'RR': 1.6432640552520752, 'FL': 0.9743476510047913, 'FR': 0.9459121823310852}, 2: {'RL': 1.5022364854812622, 'RR': 1.5660237073898315, 'FL': 1.0837589502334595, 'FR': 0.9016604423522949}, 3: {'RL': 1.4632951021194458, 'RR': 1.6257816553115845, 'FL': 0.9589208960533142, 'FR': 0.9445504546165466}, 4: {'RL': 1.532910704612732, 'RR': 1.6220884323120117, 'FL': 0.9628424644470215, 'FR': 0.92924964427948}, 5: {'RL': 1.5820164680480957, 'RR': 1.6873022317886353, 'FL': 1.0053818225860596, 'FR': 0.9614720940589905}, 6: {'RL': 1.5917844772338867, 'RR': 1.70133638381958, 'FL': 1.0194064378738403, 'FR': 1.0014551877975464}, 7: {'RL': 0.8833245635032654, 'RR': 0.9259963631629944, 'FL': 0.5532020330429077, 'FR': 0.5325199365615845}, 8: {'RL': 1.7230007648468018, 'RR': 1.780039668083191, 'FL': 1.1158047914505005, 'FR': 1.1081020832061768}, 9: {'RL': 1.4990776777267456, 'RR': 1.6580445766448975, 'FL': 0.9748584628105164, 'FR': 0.94187331199646}, 10: {'RL': 1.4968976974487305, 'RR': 1.5689959526062012, 'FL': 0.8941691517829895, 'FR': 0.8792635202407837}, 11: {'RL': 1.5796045064926147, 'RR': 1.7305346727371216, 'FL': 1.1129512786865234, 'FR': 1.068948745727539}, 12: {'RL': 0.8035668134689331, 'RR': 0.8468313217163086, 'FL': 0.5024459958076477, 'FR': 0.49450016021728516}, 13: {'RL': 0.8148288130760193, 'RR': 0.8431311845779419, 'FL': 0.48548462986946106, 'FR': 0.47275084257125854}, 14: {'RL': 1.5215516090393066, 'RR': 1.657055377960205, 'FL': 0.9551888108253479, 'FR': 0.9503596425056458}, 15: {'RL': 0.7606524229049683, 'RR': 0.7901998162269592, 'FL': 0.4493680000305176, 'FR': 0.439460426568985}, 16: {'RL': 0.8187857270240784, 'RR': 0.8654889464378357, 'FL': 0.5253750681877136, 'FR': 0.520967423915863}, 17: {'RL': 1.6336276531219482, 'RR': 1.6986188888549805, 'FL': 1.0689502954483032, 'FR': 1.078413963317871}, 18: {'RL': 1.5921002626419067, 'RR': 1.7255747318267822, 'FL': 1.1059051752090454, 'FR': 1.0684750080108643}, 19: {'RL': 2.608818292617798, 'RR': 2.713581085205078, 'FL': 2.799691915512085, 'FR': 2.7573249340057373}})
v=v.mean()#.to_dict()
v.to_frame().transpose()

df = pd.DataFrame({ 
    'Name': ['John', 'Sammy', 'Joe'], 
    'Age': [45, 38, 90], 
    'Height(in cm)': [150, 180, 160] 
}) 
df[:][0]